

  <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">

            <div class="navbar">
              <h4 class="title1">Quick links</h4>
             <ul class="nav navbar-nav">
              <li id="society"><a href="/society">All societies</a></li>
              <div class="dropdown-divider"></div>
               <li ><a href="http://www.ugc.gov.bd/" target="blank">UGC grants</a></li>
              <div class="dropdown-divider"></div>
               <li ><a href="https://moedu.gov.bd/" target="blank">Ministry of education</a></li>
              <div class="dropdown-divider"></div>
               <li ><a href="http://bbcbapub.com/"target="blank">BBCBApub</a></li>
              <div class="dropdown-divider"></div>
               <li ><a href="#">Database</a></li>
              <div class="dropdown-divider"></div>
               <li><a href="#">Softwares</a></li>


             </ul>
         </div>


        </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <div id="news">
              <h4 class="title2">Upcoming</h4>
              <div data-spy="scroll" data-target="#navbar-example" class="pre-scrollbar">
                <p>efmkemknfknerngjrenbjnbjkn jnjkngjernkjrnnerjnjrknfjerrnjgrenjrnj</p>
                <p>dfmklmfkemkemfkemgkllenngn</p>
                <p>efmkemknfknerngjrenbjnbjkn jnjkngjernkjrnnerjnjrknfjerrnjgrenjrnj</p>
                <p>dfmklmfkemkemfkemgkllenngn</p>
                <p>efmkemknfknerngjrenbjnbjkn jnjkngjernkjrnnerjnjrknfjerrnjgrenjrnj</p>
                <p>dfmklmfkemkemfkemgkllenngn</p>
                <p>efmkemknfknerngjrenbjnbjkn jnjkngjernkjrnnerjnjrknfjerrnjgrenjrnj</p>
                <p>dfmklmfkemkemfkemgkllenngn</p>
                <p>efmkemknfknerngjrenbjnbjkn jnjkngjernkjrnnerjnjrknfjerrnjgrenjrnj</p>
                <p>dfmklmfkemkemfkemgkllenngn</p>
                <p>efmkemknfknerngjrenbjnbjkn jnjkngjernkjrnnerjnjrknfjerrnjgrenjrnj</p>
                <p>dfmklmfkemkemfkemgkllenngn</p>
                <p>efmkemknfknerngjrenbjnbjkn jnjkngjernkjrnnerjnjrknfjerrnjgrenjrnj</p>
                <p>dfmklmfkemkemfkemgkllenngn</p>
                <p>efmkemknfknerngjrenbjnbjkn jnjkngjernkjrnnerjnjrknfjerrnjgrenjrnj</p>
                <p>dfmklmfkemkemfkemgkllenngn</p>
                <p>efmkemknfknerngjrenbjnbjkn jnjkngjernkjrnnerjnjrknfjerrnjgrenjrnj</p>
                <p>dfmklmfkemkemfkemgkllenngn</p>

              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">

           <h4 class="title3">Members Login</h4>
           <form class="form-container loginlist"action="/">
                <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" placeholder="Enter email" id="email" autocomplete="off">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" placeholder="Enter password" id="pwd">
        </div>

        <button type="submit" class="btn  btn-block">Login</button>
        </form>

          </div>
        </div>
      </div>

      </div>

<div class="footer-padding"></div>
  <div class="footer">
      <p>Copyright © Bangladesh Bioinformatics and Computational Biology Association ( BBCBA )</p>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>


</script>
</body>

</html>
