

  <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

<div class="footer-padding"></div>
  <div class="footer">
      <p>Copyright © Bangladesh Bioinformatics and Computational Biology Association ( BBCBA )<br>
      Designed by Tasfia Noor (Email:noortasfia7@gmail.com, CSE, RUET)</p>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>


</script>
</body>

</html>
