<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

  <title>BBCBA</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">


  <nav class="navbar navbar-default">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="images/logo.jpg" alt="Logo" style="width:10%;">
      </a>
      <div class="navbar-header ">
        <h3 class="text-center">Bangladesh Bioinformatics and Computational Biology Association ( BBCBA )</h3>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarNav" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav navbar-right">
        <!-- 6 -->
        <li class="nav-item active" id="home">
          <a class="nav-link"href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"href="#">About Us <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li id="Constitution"><a href="/Constitution">Constitution</a></li>
            <li id="Executive"><a href="/Executive">Executive Committee</a></li>
            <li id="General"><a href="/General">General Members</a></li>
            <li id="Life"><a href="/Life">Life member</a></li>
            <li id="Student"><a href="/Student">Student member</a></li>
            <li id="Honorary"><a href="/Honorary">Honorary member</a></li>
            <li id="Advisory"><a href="/Advisory">Advisory member</a></li>
            <li id="Pending"><a href="/Pending">Members (Pending)</a></li>
            <li id="Gallery"><a href="/Gallery">Photo Gallery</a></li>

          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"href="#">Events <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li id="Lectures"><a href="/Lectures">Lectures Series</a></li>
            <li id="Seminars"><a href="/Seminars">Seminars</a></li>
            <li id="Workshops"><a href="/Workshops">Workshops</a></li>
            <li id="Trainings"><a href="/Trainings">Trainings</a></li>
            <li id="Conferences"><a href="/Conferences">Conferences</a></li>


          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"href="#">Research Group <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li id="Genomics"><a href="/Genomics">Genomics</a></li>
            <li id="Transcriptomics"><a href="/Transcriptomics">Transcriptomics</a></li>
            <li id="Proteomics"><a href="/Proteomics">Proteomics</a></li>
            <li id="Metabolomics"><a href="/Metabolomics">Metabolomics</a></li>
            <li id="Metagenomics"><a href="/Metagenomics">Metagenomics</a></li>
            <li id="Pharmacogenomics"><a href="/Pharmacogenomics">Pharmacogenomics</a></li>
            <li id="Others"><a href="/Others">Others</a></li>


          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"href="#">Publications<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Journals</a></li>
            <li><a href="#">Books</a></li>


          </ul>
        </li>
        <li class="nav-item"id="membership">
          <a class="nav-link"href="/membership">Membership</a>
        </li>
        <li class="nav-item"id="notice">
          <a class="nav-link"href="/notice">Notice</a>
        </li>
        <li class="nav-item"id="sponsers">
          <a class="nav-link"href="/sponsers"> Sponsers</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"href="#">Contact Us <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Office</a></li>
            <li><a href="#">President</a></li>
            <li><a href="#">General Secretary</a></li>


          </ul>
        </li>
      </ul>
    </div>
    </div>
  </nav>

</head>

<body>
