<%- include("partials/header"); -%>
<div class="container">
  <div class="heading text-center">Abstraction Submission</div>
  <%absts.forEach(function(abst,index){%>
    <h4> <%-abst.name%></h4>
  <%});%>
</div>
<%- include("partials/footer"); -%>
