<%- include("partials/header"); -%>
<div class="container">
  <div class="heading text-center">Books</div>
  <%books.forEach(function(book){%>


      <h4><%-book.books%></h4>




<%});%>
</div>
<%- include("partials/footer"); -%>
