<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body class=" text-center">

<form class="form-signin"action="/forgotpass" method="post">
<img class="mb-4" src="/images/logo.jpg" alt="" width="72" height="72">
<h1 class="h3 mb-3 font-weight-normal">Bangladesh Bioinformatics and Computational Biology Association </h1>


<h4>Please Contact with your admin</h4>





</form>

<%- include("partials/footer"); -%>
