<%- include("partials/header"); -%>
<div class="container">
  <div class="heading text-center">General Member</div>

  
  <div class="row">


  </div>

</div>
<canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
<%- include("partials/footer"); -%>
