<%- include("partials/header"); -%>
<div class="container">

  <div class="heading text-center">Important Dates</div>

      <div class="h3">
        <%imps.forEach(function(imp){%>


            <h4><%-imp.imp%></h4>




      <%});%>

      </div>




  </div>

<canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

<%-include("partials/con_footer"); -%>
