<%- include("partials/header"); -%>
<div class="container">

  <div class="heading text-center">Invited Speakers</div>

      <div class="h3">
        <%inviteds.forEach(function(invited){%>


            <h4><%-invited.invited%></h4>




      <%});%>

      </div>




  </div>

<canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

<%-include("partials/con_footer"); -%>
