<%- include("partials/header"); -%>
<div class="container">
  <div class="heading text-center">Journals</div>
  <%journals.forEach(function(journal){%>


      <h4><%-journal.journals%></h4>




<%});%>
</div>
<%- include("partials/footer"); -%>
