<%- include("partials/header"); -%>
<div class="container">
  <div class="heading text-center">Office</div>
    <section class="text-center office">
      Room#306, Department of Statistics, 3rd Science Building, University of Rajshahi, Bangladesh,<br>
      Phone: 0721-711557 (Office), 01715319178 (Mobile)<br>
      URL: www.BBCBA.org<br>
      mollah.stat.bio@ru.ac.bd
      <br>
      +8801715319178
    </section>
</div>
<%- include("partials/footer"); -%>
