<%-include('partials/adminheader'); -%>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Scopes Update</h1>

  </div>




  </main>

<div class="container">
  <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <form class="" action="/scopedit/<%=scop._id%>" method="post" enctype="multipart/form-data">
        <div class="form-group">

            <label>Details</label>
            <textarea class="form-control" id="editor" name="scopes" value="<%-scop.scopes%> "rows="5" cols="30"></textarea>

          </div>
          <button class="btn btn-dark mt-4" type="submit" name="button">Publish</button>
          </form>


  </div>

</div>


<canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>


<%-include('partials/adminfooter'); -%>
