<%- include("partials/header"); -%>
<div class="container">

  <div class="heading text-center">Message From General Secretary</div>
      <div class="img"><img src="images/img2.jpg"></div>
      <div class="img1-detail text-center">Prof. Dr. AMAM Zonaed Siddiki<br>
             General Secretary of BBCBA</div>

       <div class="h3 text-center">Message</div>
       <div class="section">

           <section>
             I am pleased to welcome you to the website of Bangladesh Bioinformatics and Computational Biology Association (BBCBA). Bioinformatics and computational Biology are two key components of modern day biology where Information Technology and Computer Science applications are used for molecular biology research and innovation. As a multidisciplinary subject, Bioinformatics requires the knowledge of mathematics, statistics, and computer science and information technology to solve complex biological problems. Most of these problems are usually at the molecular level which cannot be solved by other conventional means and requires automation and suitable high throughput computer programs. This interesting field of science has many applications and research areas and can be used in various applied and generic research. Interestingly most of the bioinformatics are freely accessible and without any discrimination for developed or developing country researchers. Although Bangladesh is a developing country with emerging economy, one would assume the high potential of Bioinformatics in the field of research in diversified areas including human health, animal science, agriculture and environment. The new generation molecular biologists should be well-equipped with the opportunities and challenges of computational biology tools which would be crucial for their success in the relevant field. This is why BBCBA was established with a view to promote this interesting subject in the scientific community inside Bangladesh and to keep in touch with the global leaders who can help us grow towards a better future. The BBCBA platform is therefore creating the avenue for sharing our knowledge and expertise with other peers and colleagues and I hope you will use BBCBA to reach other researchers at home and abroad. We are grateful to all our sponsors of BBCBA especially BioRGRU and Dept. of Statistics, University of Rajshahi who played the key role in launching this unique organization. I believe, with your support, enthusiasm, commitment and cooperation, we will be able to create future bioinformaticians who will contribute substantially towards the ultimate benefit of human, animal and environmental health. Your suggestions are always welcome to run BBCBA and its expansion in coming days.

             <br><br><br>
             I wish the BBCBA a great and exemplary success!
           </section>
           </div>
           <div >
             <section><b>Prof. Dr. AMAM Zonaed Siddiki</b></section>

               <section class="end">
               Chittagong Veterinary and Animal Sciences University (CVASU)<br>
               Khulshi, Chittagong-4202 Bangladesh<br>

               Email: <a href="mailto:zsiddiki@gmail.com">zsiddiki@gmail.com</a>

             </section>
           </div>

</div>

</div>
<%- include("partials/footer"); -%>
