<%- include("partials/header"); -%>
<div class="container">
  <div class="heading text-center">All society</div>
  <%sos.forEach(function(so){%>


      <h4><%-so.socities%></h4>




<%});%>
</div>
<%- include("partials/footer"); -%>
